html, body {
  background-color: SteelBlue;
  max-height: 5000px;
  width: 100%;
  height:1000px;
  margin: 0px;
  padding: 0px;
  font-size: 36pt;
  font-family: Courier;
}

.navbar {
  font-size: 0.5em;
  border-bottom: 4px solid black;
  position: fixed;
  width: 100%;
  background-color: SteelBlue;
  max-height: auto;
  z-index: 10;
}

ul {
  /*border: 3px solid black;*/
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  text-align:center;
  padding: 10px auto;
}

li {
  /*border: 3px solid black;*/
  display: inline;
  width: 20%;
  margin-right: 4em;
  margin-left: 0em;
  margin-top: 10px;

}

li a {
    text-decoration: none;
}

.notactive {
  color: black;
}

li a:hover, .active {
    color: white;
}

#welcome {
  background-image: url("baltimore.jpg");
  min-height: 35%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 46pt;
  color: black;
  text-align: center;
  padding-top: 2em;
}

.info {
  min-height: 20%;
  font-family: Impact;
  font-size: 50%;
  padding-top: 4em;
  padding-bottom: 2em;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

#about {
  background-color: LightSlateGray;
}

#resume {
  background-color: SteelBlue;
}

.button {
  border: 4px solid black;
  width: 20%;
  margin: 30px 40%;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 10px;
  overflow: hidden;
}

a.button:hover {
  background-color: darkblue;
  color: white;
}

#projects {
  background-color: LightSlateGray;
}

#contact {
  background-color: SteelBlue;
  padding-top: 0em;
  padding-bottom: 0em;
}

#attributions {
  background-color: LightSlateGray;
  border-top: 5px solid black;
}

.rotation1 {
  transform: rotate(90deg);
  transform-origin: 13% 50%;
  top: -40px;
  position: absolute;
  text-align: right;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-right: 0.5em;
  background-color: lightsteelblue;
  width: 6em;
}

p {
  font-family: Courier;
  margin: auto 5em;
  background-color: darkcyan;
  padding: 1em;
  border-radius: 20px;
  display: inline-block;
  border: 3px solid black;
  /*position: absolute;*/
}

p img {
  width: 150px;
  border-radius: 50%;
  border: 2px solid black;
  float: left;
  margin-right: 10px;
}

#myinfo {
  text-align: center;
  width: 100%;
  /*border: 3px solid black;*/
}

#myinfo ul {
  margin: 0px;
  padding-bottom: 70px;
  padding-left: 20px;
  /*border: 3px solid black;*/
}

#contact li {
  display: inline-block;
  margin: 0em 2em;
  cursor: pointer;
  /*border: 3px solid black;*/
}

#contact li .popuptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 8px;
  word-wrap: break-word;
}

#contact li .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#contact li img {
  width: 14vw;
}

#attributeinfo {
  margin: 0px 150px;
}
