input[type=text], select, textarea {
    width: 100%;
    padding: 2px;
    border: 2px solid Gray;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
    overflow: scroll;
}

input[type=submit] {
    background-color: #87CEFA;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: #1E90FF;
}